language: python
python:
  - 3.5
services:
  - docker
install:
  - docker-compose build
  - docker-compose run --rm web wait_for_postgres.sh db python manage.py migrate
script:
  - docker-compose run --rm web python manage.py test